*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    text-align: center;
    background:linear-gradient(93deg,rgb(34, 134, 134),rgb(88, 20, 151));
}

.box{
    color:white;
    background: linear-gradient(91deg,#00224D,#000000);
    width:540px;
    margin:100px auto 20px; 
    padding:40px 10px 70px;
    border-radius: 10px;
}
#heading
{
    margin-bottom: 20px;    
}

#inputBox{
    outline:none;
    padding-left:15px;
    height:35px;
    width:75%;
    border-radius: 15px;
    border: none;
}

#AddBtn{
    cursor:pointer;
    height:35px;
    width:15%;
    border-radius:15px;
    border:none;
    padding:2px;
    font-size: 16px;
    background: linear-gradient(92deg,yellow,#C69749);
}

#AddBtn:hover{
   background: linear-gradient(89deg,#FF204E,#b81818);
   color:white;
   cursor:pointer;
}

ul li{
    color:white;
    list-style: none;
    position: relative;
    font-size: 20px;
    height:32px;
    margin-top:10px;
    margin-left:30px;
    text-align:start;
}

ul li span{
    background-color: #FC6736;
    border:none;
    position: absolute;
    right:27px;
    color:black;
    cursor:pointer;
    width:25px;
    height:25px;
    font-size: 22px;
    border-radius: 5px;
    text-align: center;
}

ul li span:hover{
    background-color: #f38a68;
    
}

#dltBtn:hover{
    background-color: #f38a68;
}


